MainWindow {
    background-color: #f3f2f1; 
    border: 1px solid #888;
}

#centralWidget {
    background-color: #b7462a;
}

QGraphicsView {
    background-color: white;
    border: 1px solid #b7462a;
    margin: 1px;
}